* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}
body {
    background: hsl(226, 43%, 10%);
    padding: 5rem;
}

/**************************************
LAYOUT
**************************************/
body {
    display: grid;
    grid-template-rows: 9fr 1fr;
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    place-items: center;
}
.topContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    min-height: 38rem;
    width: minmax(50%, auto );
}
header {
    display: grid;
    grid-template-rows: 4fr 2fr;
    position: relative;
}
nav {
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   align-items: center;
}
.profile {
    display: grid;
    grid-template-rows: 2fr 3fr ;
    /* position: absolute; */
    /* align-self: end; */
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}
.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.activityImg {
    justify-self: end;
}
.card {
    position: absolute;
    width: 100%;
    top: 14%;
    height: 100%;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading img {
    width: 1rem;
    justify-self: end;
}

/*************************************
ADDITIONAL STYLES HEADER
*************************************/
header {
    border-radius: 1rem;
    background: hsl(235, 46%, 20%);
}
nav {
    padding: 2rem;
}
a {
    text-decoration: none;
    color: hsl(235, 45%, 61%);
}
a:hover {
    color: white;
    cursor: pointer;
}
a:focus {
    color: white;
}
.profile {
    padding: 2rem;
    background: rgb(87,70,234);
    border-radius: 1rem;
}
.profileImg {
    height: 5rem;
    width: 5rem;
}
.profileText {
    color: hsl(236, 100%, 87%);
    width: 70%
}
h1 {
    color: white;
    font-weight: 300;
    font-size: 2rem;
}

/*************************************
ADDITIONAL STYLES MAIN
*************************************/
.container {
    border-radius: 1rem;
}
.card {
    padding: 2rem;
    background: hsl(235, 46%, 20%);
    color: white;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
}
.card:hover {
    background-color: rgb(52,57,123);
    cursor: pointer;
}
.activityImg {
    width: 3.4rem;
    height: 3.4rem;
}
.heading {
    margin-bottom: 3rem;
}
.card p {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}
.card span {
    color: hsl(236, 100%, 87%);
}
.daily {
    z-index: 3;
}
.weekly {
    z-index: 2;
}
.monthly {
    z-index: 1;
}
.con1 {
   background: hsl(15, 100%, 70%); 
}
.con2 {
    background: hsl(195, 74%, 62%);
}
.con3 {
    background: hsl(348, 100%, 68%);
}
.con4 {
    background: hsl(145, 58%, 55%);
}
.con5 {
    background: hsl(264, 64%, 52%);
}
.con6 {
    background: hsl(43, 84%, 65%);
}

/********************************************
ADDITIONAL STYLES FOR FOOTER
********************************************/
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: white;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.attribution a:hover { 
    color: rgb(213, 210, 210); 
}

/********************************************
STYLES FOR SCREEN SIZE 1300px
********************************************/
@media screen and ( max-width: 1300px) {
    .topContainer {
        /* width: minmax(60%, auto ); */
    }
}